@charset "utf-8";

html, body{
  margin: 0 auto;
}
.header{
  width: 100%;
  height: 120px;
  background-color: black; opacity: 80%;
  position: fixed;
}
.header_menu{
  text-align: left;
  width: 47%;
  height: 120px;
  float: left;
  opacity: 100%;
}
.header_menu>ul{
  height:21px;
  margin-top: 50px;
}
.header_menu>ul>li{
  display: inline;
  font-size: 90%;
  padding-left: 3%;
}
.header_menu>ul>li>a{
  font-family: Arial;
  color: #99ccff;
  text-decoration: none;
}
.header_menu>ul>li>a:hover{
  color: #ffffff;
}
.header_menu>ul>li>a:active{
  font-weight: 550;
}
.header_menu>ul>li>a:visited{
  text-decoration: none;
}
.logo{
  text-align: center;
  float: left;
  opacity: 100%;
}
.logo>a>img{
  padding-top: 20px;
}
.search{
  text-align: right;
  float: right;
}
.search .middle{
  height: 21px;
  margin-top: 50px;
}
.middle{
  opacity: 100%;
}
.tell{
  opacity: 100%;
}
.search .middle a img{
  margin-right: 46px;
}

.portfolio{
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  padding-top: 305px;
}

.img_full{
  margin: 0 auto;
  width: 1000px;
}
.img_full>img{
  padding-top: 50px;
  width: 880px;
}

.start{
  margin-bottom: 20px;
}
.down{
  padding-bottom: 60px;
}
.contact{
  float: left;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  text-align: center;
  padding-top: 155px;
  padding-bottom: 130px;
}
.contact1{
  padding-bottom: 40px;
}
.contact3{
  padding-bottom: 32px;
}
.sns{
  padding-bottom: 40px;
}

/*미디어쿼리 선언*/
/*모바일*/
@media(max-width: 1024px){
 .header{height: 120px; padding: 0px;}
 .header_menu{height: 120px; width: 34%;}
 .header_menu>ul{display: none;}
 .header_menu>a>img{margin-left: 35px; margin-top: 45px;}

 .logo_m{display: none;}
 .logo{ width: 35%; height: 120px;}
 .logo>a{margin: 0 auto;}
 .logo>a>img{padding-top: 20px;}

 .search{height: 120px; width: 30%;}
 .tell{margin-right: 38px; margin-top: 45px;}
 .middle{display: none;}

 .img_full{margin: 0 auto; width: 100%;}
 .img_full>img{width: 100%; height: 100%; padding-top: 10px;}
}

/*태블릿*/
@media(max-width: 720px){
  .header{height: 100px;}
  .header_menu{height: 100px; width: 34%;}
  .header_menu>a>img{margin-top: 40px;}
  .logo{display: none;}
  .logo_m{display: block; width: 35%; height: 100px; float: left; text-align: center;}
  .logo_m>a>img{padding-top: 16px;}
  .tell{margin-top: 38px;}
  .portfolio{padding-top: 255px;}
  .column_box_m{padding-bottom: 145px;}
  .column_box_m>a>img{ margin-bottom: 10px; width: 98%;}
}
@media(max-width: 845px){

}

/*PC*/
@media(min-width: 1025px){
  .header_menu>a>img{display: none;}
  .logo_m{display: none;}
  .tell{display: none;}
  .column_box_m{display: none;}
  .profile_m{display: none;}
}
