@charset "utf-8";

html, body{
  margin: 0 auto;
}
.header{
  width: 100%;
  height: 150px;
  background-color: ivory;/*화이트로 바꿀예정*/
  padding-top: 50px;
}
.header_menu{
  text-align: left;
  width: 45%;
  height: 150px;
  float: left;
}
.header_menu>ul{
  height:21px;
  margin-top: 65px;
}
.header_menu>ul>li{
  display: inline;
  font-size: 90%;
  padding-left: 3%;
}
.header_menu>ul>li>a{
  font-family: Arial;
  color: #777777;
  text-decoration: none;
}
.header_menu>ul>li>a:hover{
  color: #444444;
  font-weight: 550;
}
.header_menu>ul>li>a:active{
  font-weight: 550;
}
.header_menu>ul>li>a:visited{
  text-decoration: none;
}
.logo{
  text-align: center;
  width: 10%;
  height: 150px;
  float: left;
}
.search{
  text-align: right;
  width: 45%;
  height: 150px;
  float: right;
}
.search .middle{
  height: 21px;
  margin-top: 65px;
}
.search .middle a img{
  margin-right: 46px;
}

.portfolio{
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  padding-top: 155px;
}

.img_full{
  margin: 0 auto;
  width: 1000px;
}
.img_full>img{
  padding-top: 50px;
  width: 880px;
}

.start{
  margin-bottom: 20px;
}
.down{
  padding-bottom: 60px;
}
.contact{
  float: left;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  text-align: center;
  padding-top: 155px;
  padding-bottom: 130px;
}
.contact1{
  padding-bottom: 40px;
}
.contact3{
  padding-bottom: 32px;
}
.sns{
  padding-bottom: 40px;
}

/*미디어쿼리 선언*/
/*모바일*/
@media(max-width: 1024px){
 .header{height: 130px; padding: 0px;}
 .header_menu{height: 100px; width: 31%;}
 .header_menu>ul{display: none;}
 .header_menu>a>img{margin-left: 35px; margin-top: 55px;}

 .logo{ width: 31%; height: 130px;}
 .logo>a{margin: 0 auto;}
 .logo>a>img{width: 180px; height: 135px;}

 .search{height: 130px; width: 33%;}
 .search>a>img{margin-right: 38px; margin-top: 55px;}
 .middle{display: none;}

 .img_full{margin: 0 auto; width: 100%;}
 .img_full>img{width: 100%; height: 100%; padding-top: 10px;}
}


@media(max-width: 720px){
  .column_box_m{padding-bottom: 145px;}
  .column_box_m>img{ padding-bottom: 10px; width: 98%;}
}


/*PC*/
@media(min-width: 1025px){
  .header_menu>a>img{display: none;}
  .search>a>img{display: none;}
  .column_box_m{display: none;}
  .profile_m{display: none;}

}
